<%- include("header", {}) %>
<h1><%= title %></h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Password (Hashed)</th>
        <% if (user.username === 'admin') { %>
            <th>Action</th>
        <% } %>
    </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < allUsers.length; i++) { %>
        <tr>
            <td><%= allUsers[i].username %></td>
            <td><%= allUsers[i].hash %></td>
            <% if (user && user.username === 'admin' && allUsers[i].username !== 'admin') { %>
                <td>
                    <button type="button" class="delete-button" onclick="deleteUser('<%= allUsers[i].username %>')">Delete</button>
                </td>
            <% } else { %>
                <td></td>
            <% } %>
        </tr>
    <% } %>
    </tbody>
</table>
<script type="text/javascript" src="/deleteUser.js"></script>
<%- include("footer", {}) %>
